// Flipkart-Nav.js

.cart-button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.login-button {
    background-color: white;
    color: blue;
    border-radius: 0px;
}



// Flipkar-ele-tv.js

.button-ele-tv {
    font-size: 16px;
    width: 159px;
    font-family: serif;
}

.button-return-ele-tv {
    display: inline-block;
    margin-left: 35px;
}

.header-div-ele-tv {
    background-color: #f8f9fa;
}
