.sign-in-btn {
    background-color: rgb(13, 49, 34);
    border: none;
    width: 100%;
    height: 44px;
}

.login-div {
    margin: 5rem auto;
    box-shadow: 1px 2px 5px -4px rgba(0, 0, 0, 0.10);

    span {
        display: flex;
        align-items: center;
    }
}

.logn-sec-div {
    border: #83cea5 solid 30px;
    background-color: #c5b30f;

}

.rotate-div {
    background-color: #125c2a;
    transform: rotate(102deg);
    height: 92%;
    width: 155%;
    margin-left: -40%;
    margin-top: 1%;
}

.log-part {
    box-shadow: 1px 2px 15px -4px rgba(0, 0, 0, 0.75);
    .login {
        background-color: rgb(253, 253, 253);
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 0 0 6px 6px;

        form {
            .form-group {
                button {
                    margin-bottom: 5px;
                }
            }
        }
    }
}



.badge-login {
    width: 100%;
    height: 45px;
    color: #aa9418;
    text-align: left;
    font-size: 15px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.20);
    border-radius: 6px 6px 0 0;
}

.create-account {
    color: white;
    font-weight: 850;
    text-align: center;
    padding: 10px 0px;

    p {
        margin: 0;
        font-size: 15px;
    }
}

.rotate-row {
    overflow: hidden;
}

.error{
    input {
        border-color: red;
        box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.26);
    }
}

.errors {
    color:red;
    font-size: 80%;
}