.search {
    text-align: center;
    // background-color: rgb(39, 50, 80);
    background-image: linear-gradient( grey , black); 
    
}

.searchs {
    margin-top: 10px;
    width: 300px;
    height: 30px;
}

.video-player {
    display: flex;
    justify-content: center;

    .viewvideo {
        border: 2px solid grey;
        width: 640px;
        height: 360px;
        margin: 15px;
    }
}

.appvideo {
    text-align: center;
}

.video-list {
    border: 1px solid black;
    width: 17.5%;
    margin: 13px;
    margin: auto;
    
}

.search-btn {
    width: 27px;
    height: 24px;
}

.search-btns {
    background-color: white;
    border-radius: 3px;
}

